@import url('https://fonts.googleapis.com/css?family=Exo:200,300,400,500,600,700');


html {
    scroll-behavior: smooth;
}

body {
    color: #999;
    font-size: 15px;
    font-family: 'Exo', sans-serif;
    line-height: 1.80857;
}
.header li a {
    color: black;
}

.banner {
    width: 100%;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    filter: brightness(40%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d57e05;
    font-size: 4.4rem;
    font-weight: 600;
    text-align: center;
}

.social-media2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.social-media2 a {
    text-decoration: none;
    font-size: 37px;
    color: #ff7e54;
    transition: 0.3s;
}

.social-media2 a:hover {
    color: #ff7f5480;
    transform: translateX(8px);
}


.contact-us {
    /* width: 90%; */
    /* max-width: 1200px;*/
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
    background-color: #f0f1f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-item-address{
    width: 60%;
}
.info-item-address iframe{
    width: 100%;
}
.contact-us h1 {
    margin-bottom: 1rem;
    color: rgb(32, 23, 23);
    font-size: 6.5rem;
}

.contact-us .contact-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-us .info-item {
    /* width: 45%; */
    margin: 2.5%;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

.contact-us .info-item h2 {
    margin-bottom: 1rem;
    font-size: 4rem;
    text-transform: uppercase;

}

.info-item h2 i {
    font-size: 30px;
    color: #ff7e54;

}

.contact-us .info-item p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
    width: 300px;
}

@media (max-width: 970px){

}
@media (max-width: 100px) {
    .banner img {
        height: 200px;
    }
    .banner-text {
        font-size: 3rem;
    }
    .social-media2 a {
        font-size: 27px;
    }
    .contact-us{
        flex-direction: column-reverse;
    }
    .info-item-address {
        width: 100%;
    }
    .contact-us .contact-info {
        flex-direction: column;
    }

    .contact-us .info-item {
        width: 90%;
        margin-bottom: 2rem;
    }
    .contact-us .info-item p {
        font-size: 1.5rem;
    }
}